<jw-modal id="admin-page-errorbox">
  <h1>{{ displayTitle }}</h1>
  <p>{{ displayMsg }}</p>
  <button (click)="hidePopup()">Close</button>
</jw-modal>
<h3>Welcome to the admin board !</h3>
<table class="table table-striped">
  <th scope="col">Event Name</th>
  <th>Remark</th>
  <th>Start Time</th>
  <th>Reoccurance</th>
  <th>Tasks</th>
  <th>Reminders</th>
  <tr *ngFor="let event of eventList">
    <td>{{ event.eventName }}</td>
    <td>{{ event.remarks }}</td>
    <td>{{ getDate(event.startTime) }}</td>
    <td>{{ event.reOccurance.reOccuranceFrequency }}</td>
    <td></td>
    <td></td>
  </tr>
</table>

<hr>
<h4>Task scheduled</h4>
<table class="table table-striped">
  <th scope="col">Task No</th>
  <tr>
    <td>Example</td>
  </tr>
</table>
